Repository Manta-Network/manta-rs, pull requests merged in 2022-08, with the labels that each got.

#206 Move Poseidon sage script
  CHANGELOG.md
  manta-pay/src/crypto/poseidon/README.md
  manta-pay/src/crypto/poseidon/parameters_hardcoded_test/.gitignore
  manta-pay/src/crypto/poseidon/parameters_hardcoded_test/generate_parameters_grain_deterministic.sage
  manta-pay/src/crypto/poseidon/parameters_hardcoded_test/lfsr_values
  manta-pay/src/crypto/poseidon/round_constants.rs
  workspace-hack/Cargo.toml
Labels: changelog:added

#197 Migrate Crypto Upgrades from #153
  .github/workflows/audit.yml
  .github/workflows/bench.yml
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/receiver.rs
  manta-accounting/src/transfer/sender.rs
  manta-crypto/Cargo.toml
  manta-crypto/src/accumulator.rs
  manta-crypto/src/algebra.rs
  manta-crypto/src/arkworks/ff.rs
  manta-crypto/src/arkworks/mod.rs
  manta-crypto/src/constraint.rs
  manta-crypto/src/eclair/alloc.rs
  manta-crypto/src/eclair/bool.rs
  manta-crypto/src/eclair/cmp.rs
  manta-crypto/src/eclair/mod.rs
  manta-crypto/src/eclair/num.rs
  manta-crypto/src/encryption/hybrid.rs
  manta-crypto/src/encryption/mod.rs
  manta-crypto/src/key.rs
  manta-crypto/src/merkle_tree/forest.rs
  manta-crypto/src/merkle_tree/tree.rs
  manta-crypto/src/permutation/duplex.rs
  manta-crypto/src/rand.rs
  manta-crypto/src/signature/convert.rs
  manta-crypto/src/signature/mod.rs
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-pay/src/config.rs
  manta-pay/src/crypto/constraint/arkworks/groth16.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
  manta-pay/src/crypto/ecc/arkworks.rs
  manta-pay/src/crypto/poseidon/encryption.rs
  manta-util/Cargo.toml
  manta-util/src/bytes.rs
  manta-util/src/cmp.rs
  manta-util/src/codec.rs
  manta-util/src/convert.rs
  manta-util/src/iter/mod.rs
  manta-util/src/lib.rs
  workspace-hack/Cargo.toml
Labels: changelog:added, A-cryptography

#212 Less Bounds Checks on Matrix Operations
  CHANGELOG.md
  manta-pay/src/crypto/poseidon/matrix.rs
Labels: changelog:fixed, P-low, A-performance

#220 feat: add `.gitignore` and `README.md` support to `manta-parameters`
  CHANGELOG.md
  manta-parameters/Cargo.toml
  manta-parameters/build.rs
Labels: changelog:fixed, A-development
