Repository Manta-Network/manta-rs, pull requests merged in 2022-07, with the labels that each got.

#144 feat: add new release-PR template
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/release.md
  CHANGELOG.md
  README.md
Labels: changelog:added, norelease

#137 feat: add new encryption scheme abstractions
  CHANGELOG.md
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/test.rs
  manta-accounting/src/wallet/signer.rs
  manta-crypto/src/encryption/convert/key.rs
  manta-crypto/src/encryption/convert/mod.rs
  manta-crypto/src/encryption/convert/plaintext.rs
  manta-crypto/src/encryption/hybrid.rs
  manta-crypto/src/encryption/mod.rs
  manta-crypto/src/encryption/symmetric.rs
  manta-crypto/src/permutation/duplex.rs
  manta-crypto/src/permutation/mod.rs
  manta-crypto/src/signature.rs
  manta-pay/src/config.rs
  manta-pay/src/crypto/encryption.rs
  manta-pay/src/crypto/encryption/aes.rs
  manta-pay/src/crypto/encryption/mod.rs
  manta-util/src/iter/finder.rs
  manta-util/src/iter/mod.rs
  manta-util/src/lib.rs
Labels: changelog:added, norelease

#150 fix: move back to old PR template model but add extra file
  .github/PULL_REQUEST_TEMPLATE.md
  .github/RELEASE_TEMPLATE.md
Labels: changelog:skip, norelease, P-high

#145 feat: add improvements to speed up CI builds
  .config/hakari.toml
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-util/Cargo.toml
  manta-workspace-hack/.gitattributes
  manta-workspace-hack/Cargo.toml
  manta-workspace-hack/build.rs
  manta-workspace-hack/src/lib.rs
Labels: changelog:added, norelease

#152 feat: add more pre-check to the CI
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-util/Cargo.toml
  manta-util/src/codec.rs
  manta-workspace-hack/Cargo.toml
Labels: changelog:changed, norelease

#151 fix: reduce complexity by splitting transfer into parts
  CHANGELOG.md
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/receiver.rs
  manta-accounting/src/transfer/sender.rs
Labels: changelog:fixed, norelease

#147 feat: add ec benchmark
  CHANGELOG.md
  Cargo.toml
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-benchmark/benches/ecc.rs
  manta-benchmark/benches/mint.rs
  manta-benchmark/benches/private_transfer.rs
  manta-benchmark/benches/reclaim.rs
  manta-benchmark/src/ecc.rs
  manta-benchmark/src/lib.rs
  manta-crypto/Cargo.toml
  manta-pay/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:added, P-medium, A-performance

#146 feat: add fixed-size unsigned integer for ECLAIR
  CHANGELOG.md
  manta-crypto/src/eclair/mod.rs
  manta-crypto/src/eclair/num.rs
  manta-crypto/src/rand.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
Labels: changelog:added, P-high, A-openzl

#163 feat: add `cargo-sort` to the CI pipeline
  .config/hakari.toml
  .github/workflows/ci.yml
  CHANGELOG.md
  Cargo.toml
  manta-accounting/Cargo.toml
  manta-accounting/src/wallet/balance.rs
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-crypto/src/merkle_tree/mod.rs
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-util/Cargo.toml
  workspace-hack/.gitattributes
  workspace-hack/Cargo.toml
  workspace-hack/build.rs
  workspace-hack/src/lib.rs
Labels: changelog:added, P-low, A-ci

#166 Release v0.5.3
  CHANGELOG.md
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:skip, release:patch

#168 Deprecate Old Poseidon Hash
  CHANGELOG.md
  manta-pay/Cargo.toml
  manta-pay/src/config.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
  manta-pay/src/crypto/poseidon/README.md
  manta-pay/src/crypto/poseidon/arkworks.rs
  manta-pay/src/crypto/poseidon/compat.rs
  manta-pay/src/crypto/poseidon/constants.rs
  manta-pay/src/crypto/poseidon/hash.rs
  manta-pay/src/crypto/poseidon/mod.rs
  manta-pay/src/crypto/poseidon/permutation_hardcoded_test/.gitignore
  manta-pay/src/crypto/poseidon/permutation_hardcoded_test/poseidonperm_bls381_width3.sage
  manta-pay/src/crypto/poseidon/permutation_hardcoded_test/width3
  manta-pay/src/test/mod.rs
Labels: changelog:removed, A-cryptography

#175 feat: add hakari-related documentation
  CHANGELOG.md
  CONTRIBUTING.md
  manta-accounting/src/transfer/test.rs
  manta-crypto/src/merkle_tree/tree.rs
  manta-pay/src/crypto/poseidon/matrix.rs
  manta-pay/src/simulation/ledger/mod.rs
  manta-trusted-setup/src/util.rs
  workspace-hack/Cargo.toml
  workspace-hack/README.md
Labels: A-documentation, changelog:added, A-development

#176 feat: upgrade manta-crypto abstractions for new circuits
  CHANGELOG.md
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/sender.rs
  manta-benchmark/Cargo.toml
  manta-crypto/src/accumulator.rs
  manta-crypto/src/algebra.rs
  manta-crypto/src/constraint.rs
  manta-crypto/src/eclair/alloc.rs
  manta-crypto/src/eclair/bool.rs
  manta-crypto/src/eclair/cmp.rs
  manta-crypto/src/eclair/mod.rs
  manta-crypto/src/eclair/num.rs
  manta-crypto/src/encryption/convert/key.rs
  manta-crypto/src/encryption/convert/mod.rs
  manta-crypto/src/encryption/convert/plaintext.rs
  manta-crypto/src/encryption/hybrid.rs
  manta-crypto/src/encryption/mod.rs
  manta-crypto/src/key.rs
  manta-crypto/src/merkle_tree/tree.rs
  manta-pay/Cargo.toml
  manta-pay/src/config.rs
  manta-pay/src/crypto/constraint/arkworks/groth16.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
  manta-util/Cargo.toml
  manta-util/src/num.rs
  manta-util/src/vec.rs
  workspace-hack/Cargo.toml
Labels: changelog:added, A-cryptography, A-design

#186 feat: recover compat poseidon
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-pay/src/config.rs
  manta-pay/src/crypto/poseidon/README.md
  manta-pay/src/crypto/poseidon/compat.rs
  manta-pay/src/crypto/poseidon/constants.rs
  manta-pay/src/crypto/poseidon/hash.rs
  manta-pay/src/crypto/poseidon/mod.rs
  manta-pay/src/test/mod.rs
  manta-trusted-setup/Cargo.toml
  manta-util/Cargo.toml
  workspace-hack/Cargo.toml
Labels: changelog:skip, A-cryptography

#187 Release v0.5.4
  .github/PULL_REQUEST_TEMPLATE.md
  .github/RELEASE_TEMPLATE.md
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-trusted-setup/Cargo.toml
  manta-util/Cargo.toml
  workspace-hack/Cargo.toml
  workspace-hack/README.md
Labels: changelog:skip, release:patch

#172 Trusted Setup Phase 2
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-trusted-setup/Cargo.toml
  manta-trusted-setup/src/groth16/kzg.rs
  manta-trusted-setup/src/groth16/mod.rs
  manta-trusted-setup/src/groth16/mpc.rs
  manta-trusted-setup/src/groth16/test.rs
  manta-trusted-setup/src/lib.rs
  manta-trusted-setup/src/mpc.rs
  manta-trusted-setup/src/pairing.rs
  manta-trusted-setup/src/ratio.rs
  manta-trusted-setup/src/util.rs
  manta-util/src/lib.rs
  manta-util/src/macros.rs
  workspace-hack/Cargo.toml
Labels: changelog:added, C-enhancement, A-cryptography, A-trusted-setup
