Repository Manta-Network/manta-rs, pull requests merged in 2022-06, with the labels that each got.

#93 feat: add documentation and CI for contributing
  .github/PULL_REQUEST_TEMPLATE.md
  .github/release.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Cargo.toml
  README.md
  logo.svg
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
Labels: changelog:added, norelease

#94 chore(deps): bump rymndhng/release-on-push-action to v0.25.0
  .github/workflows/release.yml
  CHANGELOG.md
Labels: changelog:skip, norelease

#86 feat: simplify ledger synchronization protocol
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-accounting/src/wallet/ledger.rs
  manta-accounting/src/wallet/mod.rs
  manta-accounting/src/wallet/signer.rs
  manta-accounting/src/wallet/test/mod.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/signer/mod.rs
  manta-pay/src/simulation/ledger/http/client.rs
  manta-pay/src/simulation/ledger/http/server.rs
  manta-pay/src/simulation/ledger/mod.rs
Labels: changelog:changed, norelease

#98 Release v0.5.0
  CHANGELOG.md
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-pay/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:skip, release:minor

#102 feat: move concrete parameters from `manta-sdk` to `manta-parameters`
  CHANGELOG.md
  Cargo.toml
  manta-benchmark/Cargo.toml
  manta-parameters/.gitattributes
  manta-parameters/Cargo.toml
  manta-parameters/README.md
  manta-parameters/build.rs
  manta-parameters/data.checkfile
  manta-parameters/data/pay/testnet/parameters/note-encryption-scheme.dat
  manta-parameters/data/pay/testnet/parameters/utxo-accumulator-model.dat
  manta-parameters/data/pay/testnet/parameters/utxo-commitment-scheme.dat
  manta-parameters/data/pay/testnet/parameters/void-number-commitment-scheme.dat
  manta-parameters/data/pay/testnet/proving/mint.lfs
  manta-parameters/data/pay/testnet/proving/private-transfer.lfs
  manta-parameters/data/pay/testnet/proving/reclaim.lfs
  manta-parameters/data/pay/testnet/verifying/mint.dat
  manta-parameters/data/pay/testnet/verifying/private-transfer.dat
  manta-parameters/data/pay/testnet/verifying/reclaim.dat
  manta-parameters/generate_checkfile.sh
  manta-parameters/src/lib.rs
  manta-pay/Cargo.toml
Labels: changelog:added, norelease

#90 feat(ci): add binary compatiblity test
  CHANGELOG.md
  manta-accounting/src/transfer/test.rs
  manta-benchmark/benches/mint.rs
  manta-benchmark/benches/private_transfer.rs
  manta-benchmark/benches/reclaim.rs
  manta-benchmark/src/lib.rs
  manta-pay/Cargo.toml
  manta-pay/src/lib.rs
  manta-pay/src/test/compatibility.rs
  manta-pay/src/test/mod.rs
  manta-pay/src/test/payment.rs
Labels: changelog:added, norelease

#103 fix: remove download dependency from `manta-benchmark`
  CHANGELOG.md
  manta-pay/Cargo.toml
Labels: changelog:fixed, norelease

#106 feat: add `load_parameters` as a library function
  CHANGELOG.md
  manta-pay/Cargo.toml
  manta-pay/src/crypto/constraint/mod.rs
  manta-pay/src/crypto/constraint/plonk.rs
  manta-pay/src/parameters.rs
  manta-pay/src/test/compatibility.rs
Labels: changelog:added, norelease

#107 Release v0.5.1
  CHANGELOG.md
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:skip, release:patch

#128 feat: add more parameter loading utilities
  CHANGELOG.md
  manta-accounting/src/transfer/test.rs
  manta-pay/Cargo.toml
  manta-pay/src/parameters.rs
Labels: changelog:added, norelease

#130 feat: mds security hardcoded test
  CHANGELOG.md
  manta-pay/src/crypto/hash/poseidon/README.md
  manta-pay/src/crypto/hash/poseidon/constants.rs
  manta-pay/src/crypto/hash/poseidon/mds.rs
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/.gitignore
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/correct_mds_generation.sage
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width10
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width11
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width12
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width2
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width3
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width4
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width5
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width6
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width7
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width8
  manta-pay/src/crypto/hash/poseidon/mds_hardcoded_tests/width9
Labels: changelog:added, norelease

#126 feat: move to new eclair-v0 constructions/patterns
  CHANGELOG.md
  manta-accounting/src/asset.rs
  manta-accounting/src/key.rs
  manta-accounting/src/transfer/mod.rs
  manta-benchmark/Cargo.toml
  manta-crypto/src/accumulator.rs
  manta-crypto/src/commitment.rs
  manta-crypto/src/constraint.rs
  manta-crypto/src/ecc.rs
  manta-crypto/src/eclair/alloc.rs
  manta-crypto/src/eclair/bool.rs
  manta-crypto/src/eclair/cmp.rs
  manta-crypto/src/eclair/execution.rs
  manta-crypto/src/eclair/mod.rs
  manta-crypto/src/eclair/ops.rs
  manta-crypto/src/encryption/hybrid.rs
  manta-crypto/src/hash.rs
  manta-crypto/src/key.rs
  manta-crypto/src/lib.rs
  manta-crypto/src/merkle_tree/forest.rs
  manta-crypto/src/merkle_tree/fork.rs
  manta-crypto/src/merkle_tree/full.rs
  manta-crypto/src/merkle_tree/inner_tree.rs
  manta-crypto/src/merkle_tree/node.rs
  manta-crypto/src/merkle_tree/partial.rs
  manta-crypto/src/merkle_tree/path.rs
  manta-crypto/src/merkle_tree/single_path.rs
  manta-crypto/src/merkle_tree/test.rs
  manta-crypto/src/merkle_tree/tree.rs
  manta-pay/Cargo.toml
  manta-pay/src/bin/measure.rs
  manta-pay/src/config.rs
  manta-pay/src/crypto/constraint/arkworks/groth16.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
  manta-pay/src/crypto/ecc/arkworks.rs
  manta-pay/src/crypto/hash/poseidon/compat.rs
  manta-pay/src/crypto/hash/poseidon/mod.rs
  manta-pay/src/crypto/key.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/test/payment.rs
  manta-pay/src/test/transfer.rs
Labels: changelog:added, norelease

#127 fix: reduce the `Sample` API to just `RngCore`
  CHANGELOG.md
  manta-accounting/src/asset.rs
  manta-accounting/src/key.rs
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/test.rs
  manta-accounting/src/wallet/test/mod.rs
  manta-crypto/src/ecc.rs
  manta-crypto/src/encryption/hybrid.rs
  manta-crypto/src/encryption/symmetric.rs
  manta-crypto/src/key.rs
  manta-crypto/src/merkle_tree/test.rs
  manta-crypto/src/rand.rs
  manta-pay/src/config.rs
  manta-pay/src/crypto/ecc/arkworks.rs
  manta-pay/src/crypto/encryption.rs
  manta-pay/src/crypto/hash/poseidon/compat.rs
  manta-pay/src/crypto/hash/poseidon/mod.rs
  manta-pay/src/crypto/key.rs
  manta-pay/src/key.rs
Labels: changelog:changed, norelease

#132 fix: simplify algebra APIs
  CHANGELOG.md
  manta-accounting/src/key.rs
  manta-accounting/src/transfer/mod.rs
  manta-crypto/src/algebra.rs
  manta-crypto/src/ecc.rs
  manta-crypto/src/encryption/hybrid.rs
  manta-crypto/src/key.rs
  manta-crypto/src/lib.rs
  manta-pay/src/bin/measure.rs
  manta-pay/src/config.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
  manta-pay/src/crypto/ecc/arkworks.rs
  manta-pay/src/crypto/key.rs
  manta-pay/src/signer/base.rs
Labels: changelog:changed, norelease

#134 feat: add signature scheme abstraction
  CHANGELOG.md
  manta-crypto/src/hash.rs
  manta-crypto/src/lib.rs
  manta-crypto/src/signature.rs
Labels: changelog:added, norelease

#129 fix: reduce cost of signer key-search algorithm with pre-compute table
  CHANGELOG.md
  manta-accounting/src/key.rs
  manta-accounting/src/wallet/signer.rs
  manta-util/src/array.rs
  manta-util/src/collections.rs
  manta-util/src/lib.rs
  manta-util/src/vec.rs
Labels: changelog:fixed, norelease

#133 feat: Add generate-proof-input for Transfer
  CHANGELOG.md
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/test.rs
  manta-pay/src/test/transfer.rs
Labels: changelog:added, norelease

#143 Release v0.5.2
  CHANGELOG.md
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:skip, release:patch
