Repository Manta-Network/manta-rs, pull requests merged in 2022-10, with the labels that each got.

#264 client binary
  .github/workflows/upload-binaries.yml
  CHANGELOG.md
  manta-crypto/src/arkworks/serialize.rs
  manta-crypto/src/dalek/ed25519.rs
  manta-trusted-setup/Cargo.toml
  manta-trusted-setup/README.md
  manta-trusted-setup/docs/ts_guide_awaiting_confirmation.png
  manta-trusted-setup/docs/ts_guide_queue.png
  manta-trusted-setup/docs/ts_guide_receiving.png
  manta-trusted-setup/docs/ts_guide_register.png
  manta-trusted-setup/docs/ts_guide_secret_prompt.png
  manta-trusted-setup/docs/ts_guide_success.png
  manta-trusted-setup/src/bin/groth16_phase2_client.rs
  manta-trusted-setup/src/ceremony/registry/mod.rs
  manta-trusted-setup/src/ceremony/signature.rs
  manta-trusted-setup/src/groth16/ceremony/client.rs
  manta-trusted-setup/src/groth16/ceremony/config/mod.rs
  manta-trusted-setup/src/groth16/ceremony/config/ppot.rs
  manta-trusted-setup/src/groth16/ceremony/message.rs
  manta-trusted-setup/src/groth16/ceremony/mod.rs
  manta-trusted-setup/src/groth16/mod.rs
  manta-trusted-setup/src/groth16/mpc.rs
  manta-trusted-setup/src/util.rs
  manta-util/Cargo.toml
Labels: changelog:added, A-trusted-setup

#265 Release v0.5.5
  CHANGELOG.md
  Cargo.toml
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-trusted-setup/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:skip, release:patch

#267 TS Client Installation Script
  CHANGELOG.md
  manta-trusted-setup/README.md
  tools/install.sh
Labels: changelog:added, A-trusted-setup

#268 Trusted Setup Client v2
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-accounting/src/asset.rs
  manta-accounting/src/fs/mod.rs
  manta-accounting/src/fs/serde.rs
  manta-crypto/src/accumulator.rs
  manta-crypto/src/constraint.rs
  manta-parameters/src/lib.rs
  manta-pay/src/bin/simulation.rs
  manta-pay/src/crypto/poseidon/round_constants.rs
  manta-pay/src/simulation/mod.rs
  manta-trusted-setup/.gitignore
  manta-trusted-setup/README.md
  manta-trusted-setup/docs/ts_guide_register.png
  manta-trusted-setup/src/bin/groth16_phase2_client.rs
  manta-trusted-setup/src/groth16/ceremony/client.rs
  manta-trusted-setup/src/groth16/ceremony/config/ppot.rs
  manta-trusted-setup/src/groth16/ceremony/mod.rs
  manta-trusted-setup/src/groth16/ppot/serialization.rs
Labels: changelog:changed

#274 Fix: Update Release Number in TS Client Installer Script
  CHANGELOG.md
  tools/install.sh
Labels: changelog:changed
