Repository Manta-Network/manta-rs, pull requests merged in 2022-09, with the labels that each got.

#236 Chore: Move Ratio Proof
  CHANGELOG.md
  manta-crypto/src/arkworks/mod.rs
  manta-crypto/src/arkworks/ratio.rs
  manta-trusted-setup/src/groth16/kzg.rs
  manta-trusted-setup/src/groth16/mpc.rs
  manta-trusted-setup/src/groth16/ppot/hashing.rs
  manta-trusted-setup/src/groth16/test/mod.rs
  manta-trusted-setup/src/lib.rs
  manta-trusted-setup/src/util.rs
Labels: changelog:changed, P-low, C-cleanup, A-cryptography

#215 Windowing algorithm for point multiplication
  CHANGELOG.md
  manta-accounting/src/fs/serde.rs
  manta-crypto/src/algebra.rs
  manta-crypto/src/eclair/bool.rs
  manta-crypto/src/merkle_tree/path.rs
  manta-parameters/src/lib.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
  manta-pay/src/crypto/ecc/arkworks.rs
  manta-pay/src/crypto/poseidon/arkworks.rs
  manta-pay/src/crypto/poseidon/compat.rs
  manta-pay/src/key.rs
  manta-trusted-setup/src/groth16/ppot/hashing.rs
  manta-trusted-setup/src/groth16/ppot/kzg.rs
  manta-trusted-setup/src/groth16/test/mod.rs
  manta-trusted-setup/src/util.rs
Labels: changelog:added, P-high, A-cryptography, A-performance

#237 Feat: fuzzing test
  CHANGELOG.md
  manta-crypto/src/constraint.rs
  manta-crypto/src/rand.rs
  manta-pay/src/test/transfer.rs
Labels: changelog:added, P-medium, A-cryptography, A-testing

#247 Move arkworks curves to `manta-crypto`
  CHANGELOG.md
  manta-benchmark/Cargo.toml
  manta-benchmark/benches/ecc.rs
  manta-benchmark/src/ecc.rs
  manta-crypto/Cargo.toml
  manta-crypto/src/arkworks/ff.rs
  manta-crypto/src/arkworks/mod.rs
  manta-crypto/src/arkworks/pairing.rs
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-pay/src/bin/measure.rs
  manta-pay/src/config.rs
  manta-pay/src/crypto/constraint/arkworks/mod.rs
  manta-pay/src/crypto/poseidon/matrix.rs
  manta-pay/src/crypto/poseidon/mds.rs
  manta-pay/src/crypto/poseidon/round_constants.rs
  manta-pay/src/parameters.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/simulation/ledger/http/server.rs
  manta-pay/src/simulation/mod.rs
  manta-trusted-setup/Cargo.toml
  manta-trusted-setup/src/groth16/ppot/hashing.rs
  manta-trusted-setup/src/groth16/ppot/kzg.rs
  manta-trusted-setup/src/groth16/ppot/serialization.rs
  manta-trusted-setup/src/groth16/test/mod.rs
  manta-util/src/http/tide.rs
Labels: changelog:changed, A-openzl, A-development
