Repository Manta-Network/manta-rs, pull requests merged in 2022-11, with the labels that each got.

#262 Signer redesign features
  .gitignore
  CHANGELOG.md
  manta-accounting/src/key.rs
  manta-accounting/src/transfer/canonical.rs
  manta-accounting/src/wallet/mod.rs
  manta-accounting/src/wallet/signer.rs
  manta-benchmark/Cargo.toml
  manta-pay/Cargo.toml
  manta-pay/src/key.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/signer/client/http.rs
  manta-pay/src/signer/client/mod.rs
  manta-pay/src/signer/client/network.rs
  manta-pay/src/simulation/mod.rs
Labels: changelog:added

#279 Release v0.5.7
  .github/workflows/release.yml
  .github/workflows/upload-binaries.yml
  CHANGELOG.md
  Cargo.toml
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-trusted-setup/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:skip

#282 Feat: upgraded key system
  CHANGELOG.md
  manta-accounting/src/key.rs
  manta-accounting/src/wallet/mod.rs
  manta-accounting/src/wallet/signer.rs
  manta-accounting/src/wallet/test/mod.rs
  manta-pay/Cargo.toml
  manta-pay/src/key.rs
  manta-pay/src/lib.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/signer/client/websocket.rs
  manta-pay/src/signer/mod.rs
Labels: changelog:changed, P-high, A-cryptography

#284 Move R1CS compiler to `manta-crypto`
  CHANGELOG.md
  manta-accounting/src/asset.rs
  manta-crypto/Cargo.toml
  manta-crypto/src/arkworks/constraint.rs
  manta-crypto/src/arkworks/constraint/fp.rs
  manta-crypto/src/arkworks/constraint/mod.rs
  manta-crypto/src/arkworks/groth16.rs
  manta-crypto/src/arkworks/mod.rs
  manta-crypto/src/arkworks/pairing.rs
  manta-crypto/src/arkworks/serialize.rs
  manta-pay/Cargo.toml
  manta-pay/src/config.rs
  manta-pay/src/crypto/constraint/arkworks/codec.rs
  manta-pay/src/crypto/constraint/arkworks/pairing.rs
  manta-pay/src/crypto/constraint/mod.rs
  manta-pay/src/crypto/ecc/arkworks.rs
  manta-pay/src/crypto/mod.rs
  manta-pay/src/crypto/poseidon/arkworks.rs
  manta-pay/src/crypto/poseidon/compat.rs
  manta-pay/src/crypto/poseidon/matrix.rs
  manta-pay/src/crypto/poseidon/mds.rs
  manta-pay/src/crypto/poseidon/round_constants.rs
  manta-pay/src/lib.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/test/transfer.rs
  manta-pay/src/util/mod.rs
  manta-pay/src/util/scale.rs
  manta-trusted-setup/Cargo.toml
  manta-trusted-setup/src/groth16/ceremony/config/ppot.rs
  manta-trusted-setup/src/groth16/ceremony/mod.rs
  manta-trusted-setup/src/groth16/test/mod.rs
Labels: changelog:changed, P-high, A-cryptography

#283 Feat: upgrade asset system
  CHANGELOG.md
  manta-accounting/src/asset.rs
  manta-accounting/src/transfer/batch.rs
  manta-accounting/src/transfer/canonical.rs
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/receiver.rs
  manta-accounting/src/transfer/sender.rs
  manta-accounting/src/transfer/test.rs
  manta-accounting/src/wallet/balance.rs
  manta-accounting/src/wallet/mod.rs
  manta-accounting/src/wallet/signer.rs
  manta-accounting/src/wallet/test/mod.rs
  manta-crypto/src/rand.rs
  manta-pay/src/config.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/signer/mod.rs
  manta-pay/src/simulation/ledger/mod.rs
  manta-pay/src/simulation/mod.rs
  manta-pay/src/test/payment.rs
  manta-util/src/codec.rs
Labels: changelog:changed, P-high
