Repository Manta-Network/manta-rs, pull requests merged in 2023-01, with the labels that each got.

#294 fix: distinguish between panic-errors and possible-fix-errors
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/transfer/receiver.rs
  manta-accounting/src/transfer/sender.rs
  manta-crypto/src/merkle_tree/forest.rs
  manta-pay/src/simulation/ledger/mod.rs
  manta-trusted-setup/src/groth16/ppot/serialization.rs
Labels: changelog:fixed, A-ci, A-design, T-runtime

#302 Fuzzing test fix
  .github/workflows/ci.yml
  CHANGELOG.md
  manta-crypto/src/arkworks/ff.rs
  manta-crypto/src/rand.rs
  manta-trusted-setup/src/groth16/ppot/serialization.rs
Labels: changelog:fixed

#295 Transaction data methods
  CHANGELOG.md
  manta-accounting/src/transfer/canonical.rs
  manta-accounting/src/transfer/utxo/mod.rs
  manta-accounting/src/transfer/utxo/protocol.rs
  manta-accounting/src/wallet/mod.rs
  manta-accounting/src/wallet/signer.rs
  manta-pay/src/signer/client/http.rs
  manta-pay/src/signer/client/websocket.rs
  manta-pay/src/signer/mod.rs
Labels: changelog:added, A-cryptography, A-compatibility

#304 fix: verifying key serialization
  CHANGELOG.md
  manta-crypto/src/arkworks/groth16.rs
  manta-parameters/data.checkfile
  manta-parameters/data/pay/README.md
  manta-parameters/data/pay/trusted-setup/.gitignore
  manta-parameters/data/pay/trusted-setup/private_transfer_state_4382.lfs
  manta-parameters/data/pay/trusted-setup/to_private_state_4382.lfs
  manta-parameters/data/pay/trusted-setup/to_public_state_4382.lfs
  manta-parameters/data/pay/verifying/private-transfer.dat
  manta-parameters/data/pay/verifying/to-private.dat
  manta-parameters/data/pay/verifying/to-public.dat
  manta-pay/src/test/compatibility.rs
  manta-trusted-setup/src/bin/groth16_phase2_verifier.rs
  manta-trusted-setup/src/groth16/mpc.rs
Labels: changelog:fixed

#305 Release v0.5.9
  manta-pay/Cargo.toml
Labels: changelog:skip, release:patch

#303 Poseidon Hash and AES Benchmarks
  CHANGELOG.md
  manta-benchmark/Cargo.toml
  manta-benchmark/benches/crypto.rs
  manta-benchmark/tests/crypto.rs
  manta-pay/Cargo.toml
  manta-pay/src/config/utxo.rs
  manta-pay/src/crypto/poseidon/hash.rs
  manta-pay/src/test/transfer.rs
Labels: changelog:added

#259 TS Client and Server Binaries
  CHANGELOG.md
  manta-crypto/src/dalek/ed25519.rs
  manta-trusted-setup/Cargo.toml
  manta-trusted-setup/src/bin/groth16_phase2_server.rs
  manta-trusted-setup/src/ceremony/registry/csv.rs
  manta-trusted-setup/src/groth16/ceremony/config/mod.rs
  manta-trusted-setup/src/groth16/ceremony/config/ppot.rs
  manta-trusted-setup/src/groth16/ceremony/coordinator.rs
  manta-trusted-setup/src/groth16/ceremony/log.rs
  manta-trusted-setup/src/groth16/ceremony/mod.rs
  manta-trusted-setup/src/groth16/ceremony/server.rs
  manta-trusted-setup/src/groth16/mod.rs
  manta-trusted-setup/src/groth16/mpc.rs
  manta-util/src/collections/vec_deque.rs
Labels: changelog:added, A-cryptography, A-trusted-setup

#311 Release v0.5.10
  CHANGELOG.md
  Cargo.toml
  manta-accounting/Cargo.toml
  manta-benchmark/Cargo.toml
  manta-crypto/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-trusted-setup/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:skip, release:patch

#310 Identity verification
  CHANGELOG.md
  manta-accounting/src/transfer/mod.rs
  manta-accounting/src/wallet/mod.rs
  manta-accounting/src/wallet/signer.rs
  manta-crypto/src/accumulator.rs
  manta-crypto/src/merkle_tree/forest.rs
  manta-crypto/src/merkle_tree/tree.rs
  manta-pay/src/config/mod.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/signer/client/http.rs
  manta-pay/src/signer/client/websocket.rs
  manta-pay/src/signer/mod.rs
  manta-pay/src/test/compatibility.rs
  manta-pay/src/test/mod.rs
  manta-pay/src/test/signer.rs
Labels: changelog:added, A-cryptography

#289 Manta API: AssetMetadata upgrade
  CHANGELOG.md
  manta-accounting/src/asset.rs
  manta-accounting/src/transfer/canonical.rs
  manta-accounting/src/wallet/mod.rs
  manta-accounting/src/wallet/signer.rs
  manta-accounting/src/wallet/test/mod.rs
  manta-pay/src/signer/base.rs
  manta-pay/src/signer/client/http.rs
  manta-pay/src/signer/client/websocket.rs
  manta-pay/src/signer/mod.rs
Labels: changelog:added

#313 fix: use the correct identity verification logic
  CHANGELOG.md
  manta-accounting/Cargo.toml
  manta-parameters/Cargo.toml
  manta-pay/Cargo.toml
  manta-pay/src/signer/base.rs
  manta-trusted-setup/Cargo.toml
  manta-util/Cargo.toml
Labels: changelog:fixed
